.header {
  background-color: black;
  text-align: center;
}
.footer {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.logo {
  color: white;
  display: inline-block;
  padding: 10px;
}
.header-name{
  color:whitesmoke;
  display: inline-block;

}
.header-name h1 {
  font-weight: 200;
  font-size: 1.5em;
}

.top {
  color: mediumvioletred;
  font-size: 1.3em;
  font-weight: 100;
}

.bottom{
  color: whitesmoke;
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1px;
}